/* Navbar styles */
.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    padding-left: 18rem !important;
    padding-right: 18rem !important;
    text-align: center;
    color: white;
    position: fixed;
    z-index: 1;
}
  
.navbarContainer .text-3xl {
font-size: 1.875rem;
font-weight: bold;
}

.navbarContainer ul {
display: flex;
height: 100%;
gap: 1rem;
}

.navbarContainer li {
margin-right: 8px;
cursor: pointer;
transition-duration: 200ms; 

}

.navbarContainer li:hover {
color: #8B5CF6;
}

.divider {
width: 1px;
height: 100%;
background-color: white;
}

.navbarContainer li.portfolio {
transition-duration: 200ms; 
cursor: pointer; 
}

.navbarContainer li.portfolio:hover {
color: #8B5CF6;
}

ul {
list-style-type: none;
}
  