/* Navbar styles */
.navbarContainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
    // padding-left: 18rem !important;
    // padding-right: 18rem !important;
    text-align: center;
    color: white;
    position: fixed;
    z-index: 1;
}

.menuNavbarContainer {
    list-style-type: none;
    display: flex;
    height: 100%;
    gap: 1rem;
}

.logoContainerMobile {
    display: none;
}

@media (max-width : 700px) {
    .menuNavbarContainer {
        list-style-type: none;
        display: flex;
        height: 100%;
        gap: 1rem;
        flex-direction: column;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2000;
        width: 300px;
        background-color: black;
    }

    .logoContainer {
        display: none;
    }

    .logoContainerMobile {
        display: contents;
    }
}


// nav {
//     color: white;
//     height: 60px;
//     background-color: black;
//     display: flex;
//     justify-content: flex-end;
//     align-items: center;
// }

// .links-container {
//     height: 100%;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
// }