.font-size-m {
    font-size: 18px;
}

.font-size-s {
    font-size: 14px;
}

.font-size-s-mob {
    font-size: 10px;
}

.font-size-m-mob {
    font-size: 12px;
}

.font-size-b-mob {
    font-size: 30px;
}

.goldenText {
    color: $primary-golden-text-color;
}

.creamText {
    color: $primary-cream-text-color;
}