.imageSize {
    &-icon {
        width: 25px;
        height: 25px;
    }

    &-logoTitle {
        width: 150px;
        height: 150px;
        align-self: center;
    }
}

.fullScreeHeight {
    width: 100%;
    height: 100vh;
}

.required:after {
    content: " *";
    color: red;
}

.cursorPointer {
    cursor: pointer;
}

.align-self-center {
    align-self: center;
}

.place-content {
    &-end {
        place-content: end;
    }
}

.flex {
    display: flex;

    &-column {
        display: flex;
        flex-direction: column;
    }
}

.justify {
    &-evenly {
        justify-content: space-evenly;
    }

    &-around {
        justify-content: space-around;
    }

    &-center {
        justify-content: center;
    }
}

.text {
    &-align {
        &-end {
            text-align: end;
        }

        &-center {
            text-align: center;
        }

        &-justify {
            text-align: justify;
        }
    }
}

.align {
    &-items {
        &-center {
            align-items: center;
        }

        &-end {
            align-items: flex-end;
        }
    }

    &-self {
        &-center {
            align-self: center;
        }
    }
}

.font {
    &-weight {
        &-normal {
            font-weight: 400;
        }

        &-bold {
            font-weight: bold;
        }
    }
}

.color {
    &-primaryDark {
        color: $primary-color-dark
    }

    &-white {
        color: white;
    }
}

.primaryBackgroundBlack {
    background-color: $primary-color-dark;
}

.backgroundBlack {
    background-color: black;
}

.centerScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.mangolaineFont {
    font-family: "mangolaine";
}

.lineHeightNormal {
    line-height: normal;
}

.goldenTextColor {
    color: $primary-golden-text-color;
}

.boxed-text {
    // max-width: 600px;
    /* Adjust the max-width to your desired width */
    margin: 0 auto;
    /* Center the text block */
    text-align: justify;
    /* Justify the text to align both left and right edges */
    padding: 20px;
    /* Add padding to create space around the text */
    border-radius: 8px;
    /* Optional: Add border radius for rounded corners */
}

.fadeDarkImageTopBottom {
    content: "";
    // position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 96vh;
    // background: linear-gradient(to bottom,
    //     rgba(0, 0, 0, 1) 0%,
    //     rgba(0, 0, 0, 1) 10%,
    //     rgba(0, 0, 0, 0) 50%,
    //     rgba(0, 0, 0, 1) 80%,
    //     rgba(0, 0, 0, 1) 100%);
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 0) 35%,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 1) 85%,
            rgba(0, 0, 0, 1) 100%);
    pointer-events: none;
}


// if use imageContainer by default should use height auto
.autoHeight {
    height: auto;
}

.image-container-fadedTopBottom {
    position: relative;
    // display: inline-block;
}

.image-container-fadedTopBottom img {
    display: block;
    width: 100%;
    // height: auto;
}

.image-container-fadedTopBottom::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,
            rgb(0, 0, 0) 7%,
            rgba(0, 0, 0, 0) 15%,
            rgba(0, 0, 0, 0) 70%,
            rgb(0, 0, 0) 92%);
    pointer-events: none;
}




// Mobile container utility class:
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

/* xs */
@media (min-width: 475px) {
    .container {
        max-width: 475px;
    }
}

/* sm */
@media (min-width: 640px) {
    .container {
        max-width: 640px;
    }
}

/* md */
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

/* lg */
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

/* 2xl */
@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}



// Desktop container utility class:
// .container {
//   max-width: 1536px;
//   margin-left: auto;
//   margin-right: auto;
//   padding-left: 0.5rem;
//   padding-right: 0.5rem;
// }

// /* 2xl */
// @media (max-width: 1536px) {
//   .container {
//     max-width: 1280px;
//   }
// }

// /* xl */
// @media (max-width: 1280px) {
//   .container {
//     max-width: 1024px;
//   }
// }

// /* lg */
// @media (max-width: 1024px) {
//   .container {
//     max-width: 768px;
//   }
// }

// /* md */
// @media (max-width: 768px) {
//   .container {
//     max-width: 640px;
//   }
// }

// /* sm */
// @media (max-width: 640px) {
//   .container {
//     max-width: 475px;
//   }
// }

// /* xs */
// @media (max-width: 475px) {
//   .container {
//     width: 100%;
//   }
// }